#To fix the error when run npm install under root:
#"postinstall: cannot run in wd %s %s (wd=%s)"

#Per https://docs.npmjs.com/misc/config
# unsafe-perm
#Default: false if running as root, true otherwise
#Type: Boolean
#Set to true to suppress the UID/GID switching when running package scripts.
#If set explicitly to false, then installing as a non-root user will fail.

unsafe-perm = true;