<IfModule mod_ssl.c>
<VirtualHost *:443>
RequestHeader set X-Forwarded-Proto "https"
ProxyPreserveHost On
ServerName shopecific.com
Alias /static /var/www/shopecific/static
<Directory /var/www/shopecific/static>
Options FollowSymLinks
</Directory>
Header always unset X-Frame-Options
RewriteEngine On
RewriteCond %{HTTP:Upgrade} =websocket
RewriteRule /(.*)           ws://localhost:8080/$1 [P,L]
RewriteCond %{HTTP:Upgrade} !=websocket
RewriteCond %{REQUEST_URI} !/static/
RewriteRule /(.*)           http://localhost:8080/$1 [P,L]

SSLEngine on
SSLCertificateFile    /etc/letsencrypt/live/shopecific.com/fullchain.pem
SSLCertificateKeyFile /etc/letsencrypt/live/shopecific.com/privkey.pem

ErrorDocument 404 /static/errors/
ErrorDocument 500 /static/errors/
ErrorDocument 502 /static/errors/
ErrorDocument 503 /static/errors/
ErrorDocument 504 /static/errors/
</VirtualHost>
</IfModule>

#redirect http to https
<VirtualHost *:80>
ServerName shopecific.com
ServerAlias www www.shopecific.com
Redirect "/" "https://shopecific.com/"
</VirtualHost>

#redirect www to non-www
<VirtualHost *:443>
ServerName www.shopecific.com
Redirect "/" "https://shopecific.com/"
SSLEngine on
SSLCertificateFile    /etc/letsencrypt/live/shopecific.com/fullchain.pem
SSLCertificateKeyFile /etc/letsencrypt/live/shopecific.com/privkey.pem
</VirtualHost>
